.root {
  height: 100px;
  .formInput{
    position: relative;
  }
  .formInputButton{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    opacity: 0.5;
  }
  .formLastButton{
    display: flex;
  }
}